<!DOCTYPE html>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>RTO Management</title>
    <style>
        .footer {
            margin-left: 70px;
            text-align: center;
            color: orangered;
            margin-top: 50px;
        }
    </style>
</head>

<body style="background-color:mintcream">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="background-color:skyblue;">
            <a class="navbar-brand" href="#" style="margin-left: 200px;height:auto">
                <h1 style="margin-right: 500px;">RTO Gujarat</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="llr.html">LLR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vehicle_registration.html">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="DL.html">DL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/admin/login/?next=/admin/">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Complaint.html">Complaint</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://sarathi.parivahan.gov.in/sarathiservice/images/banner/bannerpic.jpg" class="d-block w-100" alt="RTO" width="1500px;" height="400px;">
            </div>
            <div class="carousel-item">
                <img src="https://sarathi.parivahan.gov.in/sarathiservice/images/banner/pmcare_modi.jpg" class="d-block w-100" alt="RTO" width="1500px;" height="400px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="footer">Regional Transport Office is the organization of the Indian government responsible for registration of vehicles and the issue of drivers' licences. In addition to this, the RTO officer checks for motor insurance and grants certificate of fitness to
        transport vehicles. RTO Vehicle Information gives you Owner Name, Address, Age, Engine Number, Chassis Number, Vehicle Registration Date, Vehicle Registration City, Type, Model, City, State.</p>
    <div class="footer-w3">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-8 footer-grid">
                    <h4>About Us</h4>
                    <p> Organisation of the Indian government responsible for maintaining a database of drivers and a database of vehicles for Gujarat.<span>
                      It issues driving licences, organises collection of vehicle excise duty and sells personalised registrations.
                      It also is responsible to inspect vehicle's insurance and clear the pollution test.</span></p>
                </div>
                <div class="col-md-4 footer-grid">
                    <h4>Information</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Gandhinagar</li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 79-23251363</li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:commi-trans@gujarat.gov.in"> commi-trans@gujarat.gov.in</a></li>
                        <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon-Sat 10:00 hr to 17:00 hr</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-->
    <!---copy--->
    <div class="copy-section">
        <div class="container">
            <div class="social-icons">
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
        </div>
    </div>
</body>

</html>