<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>LLR Validation</title>
    <style>
        td {
            border: solid 2px lightgrey;
        }
    </style>
</head>

<body style="background-color:mintcream">
    <script>
        alert("you have successfully applied for llr")
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="background-color: skyblue;">
            <a class="navbar-brand" href="#" style="margin-left: 200px;height:auto">
                <h1 style="margin-right: 500px;">RTO Gujarat</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="llr.html">LLR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vehicle_registration.html">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="DL.html">DL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/admin/login/?next=/admin/">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Complaint.html">Complaint</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 style="text-align:center;margin-left:70px;margin-top:80px;font-size:45px;color:darkgreen;">Learner License's Registration</h3>
    <br/><br/><br/>
    <table border="1" cellpadding="10" cellspacing="5" align="center">
        <tr>
            <td align="center" colspan="2"><b> LLR VERIFICATION DETAILS</b></td>
        </tr>
        <tr>
            <td>Verification Date</td>
            <td>
                <p id="demo"></p>
                <script>
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d;
                </script>
            </td>
        </tr>
        <tr>
            <td>Your Name is: </td>
            <td>
                {{name}}
            </td>
        </tr>
        <tr>
            <td>Your password is: </td>
            <td>
                {{pass}}
            </td>
        </tr>
        <tr>
            <td>Vehicle Verification Venue</td>
            <td>
                Rto {{City}}
            </td>
        </tr>
        <tr>
            <td colspan="2">

                <p>
                    Please be at 10:00 am on given date and venue </br>
                    Bring Aadhar card,2 passport size photographs</br>DOB proof and Address Proof,and vehicle to be registered</br>
                </p>
            </td>
        </tr>
    </table>
    <p align="center">
        <a href="home.html">
            <h2 align="center">Exit</h2>
        </a>
        <br/>
        <button onclick="myFunction()" style="margin-left:740px;">Print</button>
        <script>
            function myFunction() {
                window.print();
            }
        </script>
        <a href="http://localhost:8000/rtoapp/home.html">HOME</a>
</body>

</html>